name: Run parser tests
on:
  - workflow_call
  - workflow_dispatch
  - push

jobs:
  run-parser-tests:
    name: Run parser tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: pip install pytest -r requirements.txt
      - run: pytest tests/test_parser.py
